<!DOCTYPE html>

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/mission_statement.css">

<body class="main-layout">
    <div class="mission_statement">
        <p class="mission_font">The mission of Muzartt is to provide emotional and behavioral benefits for dementia patients and older adults through digital music and art therapy.</p>
    </div>
</body>