<!DOCTYPE html>

<link rel="stylesheet" href="/css/news.css">

<section id="new" class="box1">

<h2><span>News</span></h2>
<dl>
<dt>2021/7/25</dt>
<dd>Sample.Sample.Sample.Sample.Sample.Sample.Sample.Sample.<span class="newicon">NEW</span></dd>
<dt>20XX/00/00</dt>
<dd>Sample.Sample.Sample.Sample.Sample.Sample.Sample.Sample.</dd>
<dt>20XX/00/00</dt>
<dd>Sample.Sample.Sample.Sample.Sample.Sample.Sample.Sample.</dd>
<dt>20XX/00/00</dt>
<dd>Sample.Sample.Sample.Sample.Sample.Sample.Sample.Sample.</dd>
<dt>20XX/00/00</dt>
<dd>Sample.Sample.Sample.Sample.Sample.Sample.Sample.Sample.</dd>
<dt>20XX/00/00</dt>
<dd>Sample.Sample.Sample.Sample.Sample.Sample.Sample.Sample.</dd>
<dt>20XX/00/00</dt>
<dd>Sample.Sample.Sample.Sample.Sample.Sample.Sample.Sample.</dd>
</dl>

</section>