<!DOCTYPE html>

<!--CSS-->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/offer.css">
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css'>
<!--JavaScript-->
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>

<body class="main-layout">
    <p>Pre-Order Offers!</p>
    <div class="pricing_all">
        <div class="demo">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <i class="fa fa-adjust"></i>
                                <div class="price-value"> $8.99 <span class="month">per month</span> </div>
                            </div>
                            <h3 class="heading">Monthly</h3>
                            <div class="pricing-content">
                                <ul>
                                    <li><b>20+</b> Songs Installed</li>
                                    <li><b>50+</b> Colors for Drawing</li>
                                    <li><b>24H</b> Online Support</li>
                                    <li><b>Unlock</b> App Features</li>
                                    <li><b>.</b>.</li>
                                </ul>
                            </div>
                            <div class="pricingTable-signup">
                                <a href="/checkout">sign up</a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable green">
                            <div class="pricingTable-header">
                                <i class="fa fa-briefcase"></i>
                                <div class="price-value"> $95.88 <span class="month">per year</span> </div>
                            </div>
                            <h3 class="heading">Yearly</h3>
                            <div class="pricing-content">
                                <ul>
                                    <li><b>30-day</b> Free Trial</li>
                                    <li><b>$12</b> Cheaper than Monthly</li>
                                    <li><b>Limited</b> Muzartt Badge</li>
                                    <li><b>ALL</b> Benefits from Monthly Sub</li>
                                    <li><b>.</b> .</li>
                                </ul>
                            </div>
                            <div class="pricingTable-signup">
                                <a href="/checkout">sign up</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable blue">
                            <div class="pricingTable-header">
                                <i class="fa fa-diamond"></i>
                                <div class="price-value"> $249.99 <span class="month">per year</span> </div>
                            </div>
                            <h3 class="heading">Business</h3>
                            <div class="pricing-content">
                                <ul>
                                    <li><b>Offer</b> to Monthly Events</li>
                                    <li><b>Special</b> Invitation to Live</li>
                                    <li><b>Twice</b> per Month Online Meeting</li>
                                    <li><b>Perfect</b> Sponsership</li>
                                    <li><b>Reliable</b> Partnership</li>
                                </ul>
                            </div>
                            <div class="pricingTable-signup">
                                <a href="/checkout">sign up</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable red">
                            <div class="pricingTable-header">
                                <i class="fa fa-cube"></i>
                                <div class="price-value"> $124.88 <span class="month">per month</span> </div>
                            </div>
                            <h3 class="heading">Premium</h3>
                            <div class="pricing-content">
                                <ul>
                                    <li><b>50+</b> Songs Installed</li>
                                    <li><b>100+</b> Colors for Drawing</li>
                                    <li><b>Access</b> to Beta Version Available</li>
                                    <li><b>Free</b> Muzartt Sticker</li>
                                    <li><b>Limited</b> Muzartt T-shirt</li>
                                </ul>
                            </div>
                            <div class="pricingTable-signup">
                                <a href="/checkout">sign up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>