<!DOCTYPE html>
<html>
    <head>
        <!--Font Awesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <!--CSS-->
        <link rel="stylesheet" href="/css/platform.css">
        <!--Board Size-->
        <style>
            #board {
                width: 1300px;
                height: 500px;
                border: 1px solid black;
            }
        </style>
        <!--Drawing Board CSS/AJAX-->
        <link rel="stylesheet" type="text/css" href="/css/drawingboard.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
        <!--Music Player CSS-->
        <link rel="stylesheet" type="text/css" href="/css/music_player.css">
    </head>
    <body class="main-layout">
        <!--Music Player-->
        <div class="music_player_body">
            <div class="music-container" id="music-container">
              <div class="music-info">
                <h4 id="title"></h4>
                <div class="progress-container" id="progress-container">
                  <div class="progress" id="progress"></div>
                </div>
              </div>
        
              <audio src="/music/The_Fat_Rat.mp3" id="audio"></audio>
              <audio src="/music/phony.mp3" id="audio"></audio>
        
              <div class="img-container">
                <img src="/images/The_Fat_Rat.jpg", "/images/phony.jpg" alt="music-cover" id="cover"/>
              </div>
              <div class="navigation">
                <button id="prev" class="action-btn">
                  <i class="fas fa-backward"></i>
                </button>
                <button id="play" class="action-btn action-btn-big">
                  <i class="fas fa-play"></i>
                </button>
                <button id="next" class="action-btn">
                  <i class="fas fa-forward"></i>
                </button>
              </div>
            </div>
        </div>
        <!--Drawing Board-->
        <div id="board"></div>
        <div id="button_center">
            <button id="save_drawing">Save Drawing</button>
        </div>
        <script>
            $(document).ready(function(){
                var imageBoard = new DrawingBoard.Board('board', {
                    background: "#fff",
                    color: '#000',
                    size: 30,
                    controls: [
                        'Color',
                        { Size: { type: "range"} },
                        { Navigation: { back: true, forward: true} },
                        'DrawingMode'
                    ],
                    webStorage: 'session',
                    enlargeYourContainer: true
                });
                $("#save_drawing").click(function(){
                    domtoimage.toBlob(document.getElementById('board'))
                    .then(function (blob) {
                        window.saveAs(blob, 'muzartt_drawing.png');
                    });
                })
            })
        </script>
        <!--Drawing Board JS-->
        <script src="https://cdn.jsdelivr.net/g/filesaver.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/drawingboard.js/0.4.6/drawingboard.min.js"></script>
        <!--Music Player JS-->
        <script type="text/javascript" src="/js/music_player.js"></script>
        <!--YouTube Playlist-->
        <div class="wrap_youtube">
            <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLxvodScTx2RtAOoajGSu6ad4p8P8uXKQk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </body>
</html>