<form action="/signup" method="post">
    <input type="text" name="name_first" placeholder="first name"><br>
    <input type="text" name="name_last" placeholder="last name"><br>
    <input type="text" name="mail" placeholder="email"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="password" name="password_confiration" placeholder="confirm password"><br>
    <input type="submit" value="Sign Up">
</form>